# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Database files
db.sqlite3
*.db

# Django settings secrets
*.env
.env

# Logs and temporary files
*.log
*.pot
*.pyc
*.swp
*.swo

# VS Code settings
.vscode/

# Migrations cache
*/migrations/__pycache__/

# Static & media files
staticfiles/
media/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore Django secret key file (if used)
secret_key.json
